[submodule "parkar-app"]
	path = parkar-app
	url = https://github.com/trunghq234/parkar-app
[submodule "parkar-server"]
	path = parkar-server
	url = https://github.com/quangpn24/parkar-server
[submodule "parkar-merchant"]
	path = parka-merchant
	url = https://github.com/trunghq234/parka-merchant
[submodule "parkar-merchant-app"]
	path = parkar-merchant-app
	url = https://github.com/quangpn24/parkar-merchant-app
